*
!.gitignore
!morphogen_final_v2.png
!information_density_final_v2.png
!neural_commitment_final_v2.png
!boundary_field_final_v2.png
!eye_commitment_final_v2.png
!neural_eye_overlay_v2.png
!combined_fields_with_eye_v2.png
